POSTGRES_USER=agentctl
POSTGRES_PASSWORD=agentctl
POSTGRES_DB=agentctl
MINIO_ROOT_USER=agentctl
MINIO_ROOT_PASSWORD=agentctl-local-password
OLLAMA_MODEL=
FGA_GATEWAY_BASE_URL=http://host.docker.internal:8089
